@charset "UTF-8";

/*Шрифты*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

500;600;700&display=swap");
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*==================================*/

/* Иконочный шрифт */

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf") format("woff", url("../fonts/icons.woff2") format("woff2"));
  font-display: swap;
  font-display: block;
  font-style: normal;
  font-weight: normal;
}

[class^=icon-]::before,
[class*=icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-asx-font-smoothing: grasyscale;
}

[class^=icon-]::before,
[class*=icon-]::before {
  display: block;
}

.icon-phone:before {
  content: "\e901";
}

.icon-arrowSubList:before {
  content: "\e902";
}

.icon-vk:before {
  content: "\e904";
}

.icon-watsApp:before {
  content: "\e905";
}

.icon-inst:before {
  content: "\e906";
}

.icon-telegram:before {
  content: "\e907";
}

.icon-arrowSlider:before {
  content: "\e908";
}

.icon-arrowBredCrumbs:before {
  content: "\e909";
}

/*==================================*/

/*Метод image background (картинки в коде html, преобразованные в фоновое изображение)*/

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*==================================*/

/*Адаптивное css свойство*/

/*==================================*/

/*Переменные*/

/*==================================*/

/*Основная сетка*/

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

/*==================================*/

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*==================================*/

/*Общие параметры*/

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 70px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 121.875%;
  color: #303030;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157.9%;
}

/*==================================*/

.header {
  background: #1b3d50;
  position: fixed;
  z-index: 50;
  width: 100%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-right: 10px;
}

.logo {
  font-weight: 700;
  position: relative;
  z-index: 2;
  font-size: 28px;
  line-height: 80%;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.logo span {
  color: #47a453;
}

.menu__icon {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.menu__icon::after,
.menu__icon::before,
.menu__icon > span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: #fff;
  right: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__icon::after {
  top: 0;
}

.menu__icon::before {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.menu__icon > span::after {
  bottom: 0;
}

.menu__icon.active > span::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__icon.active::before {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.menu__icon.active::after {
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
  top: 50%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 35px;
  color: #fff;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #e69721;
  border-radius: 9px 9px 0px 0px;
  height: 0px;
  bottom: 0px;
  left: 0;
}

.menu__item.hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.menu__item.active {
  color: #e69721;
}

.menu__item.active::after {
  height: 3px;
}

.menu__link {
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 80%;
}

.menu__arrow::before {
  margin-left: 5px;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__sub-list {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #102430;
  padding: 10px 0;
}

.menu__sub-list li {
  height: 100%;
}

.menu__sub-link {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 121.4285714286%;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__arrow.active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.phone__link {
  font-weight: 700;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.phone__link::before {
  margin-right: 4px;
}

.popup-phone {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 50;
  overflow: auto;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(45, 84, 107, 0.7882352941);
  padding: 10px;
  padding-top: 70px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
}

.popup-phone.active {
  opacity: 1;
  visibility: visible;
}

.popup-phone__body {
  background: #102430;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #e69721;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  text-align: center;
  color: #fff;
  max-width: 500px;
  -webkit-transform: translateY(100%) scale(0.5);
      -ms-transform: translateY(100%) scale(0.5);
          transform: translateY(100%) scale(0.5);
}

.popup-phone__body.active {
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.popup-phone__title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.popup-phone__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 133.3333333333%;
  margin-bottom: 25px;
}

.popup-phone__btn {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #47a453;
  color: inherit;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  border-radius: 3px;
}

/*==================================*/

.about {
  padding-top: 42px;
  padding-bottom: 30px;
}

.about__col {
  position: relative;
}

.about__col:last-child {
  position: relative;
}

.about__col:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  background: #275c79;
}

.about__title {
  margin-bottom: 21px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title svg {
  height: 34px;
}

.about__text p {
  margin-bottom: 17px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.about__text span {
  font-weight: 600;
  color: #275c79;
}

.about__title-list {
  font-weight: 600;
  font-size: 20px;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 15px;
  color: #275c79;
}

.about__item {
  padding-left: 15px;
  position: relative;
  line-height: 130.4%;
  font-weight: 400;
  margin-bottom: 5px;
}

.about__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #275c79;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

/*==================================*/

.project-slider {
  margin-bottom: 44px;
}

.project-slider__container {
  position: relative;
}

.project-slider__title {
  margin-bottom: 29px;
}

.project-slider__body {
  margin-right: 72px;
  margin-left: 72px;
  overflow: hidden;
  color: #fff;
}

.project-slider__wrapper {
  display: -webkit-box;
  margin-bottom: 22px;
}

.slide-project {
  position: relative;
  background: rgba(0, 0, 0, 0.493);
  padding: 40px;
  padding-bottom: 130px;
  border-radius: 8px;
  overflow: hidden;
}

.slide-project img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.slide-project__content {
  position: relative;
}

.slide-project__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: start;
  width: 100%;
  margin-bottom: 20px;
}

.slide-project__title {
  font-weight: 700;
  display: block;
  width: 100%;
  font-size: 24px;
  line-height: 120%;
}

.slide-project__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.slide-project__label {
  height: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  background: #fff;
  color: #000;
  border: 3px solid rgb(9, 72, 131);
  border-width: 3px;
  margin-bottom: 15px;
  margin-right: 19px;
}

.slide-project__label_yellow {
  border-color: #d5e055;
  color: #927200;
}

.slide-project__label_violet {
  border-color: #9f6edd;
}

.slide-project__text {
  max-width: 514px;
  font-size: 16px;
  line-height: 171.4285714286%;
  margin-bottom: 20px;
}

.slide-project__button {
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 55px;
  padding-right: 55px;
  color: #fff;
  background: #203a49;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-project__button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.dotts-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dotts-slider span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: 2px solid #275c79;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dotts-slider span:not(:last-child) {
  margin-right: 20px;
}

.dotts-slider .swiper-pagination-bullet-active {
  background: #275c79;
  cursor: auto;
}

.slider-arrow {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #275c79;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.slider-arrow:active {
  -webkit-transform: translateY(-50%) scale(0.9);
      -ms-transform: translateY(-50%) scale(0.9);
          transform: translateY(-50%) scale(0.9);
}

.slider-arrow::before {
  color: #fff;
  font-size: 20px;
}

.slider-arrow_prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.slider-arrow_prev:active {
  -webkit-transform: translateY(-50%) scale(0.9) rotate(180deg);
      -ms-transform: translateY(-50%) scale(0.9) rotate(180deg);
          transform: translateY(-50%) scale(0.9) rotate(180deg);
}

.slider-arrow_next {
  right: 0;
}

/*==================================*/

.articles {
  margin-bottom: 40px;
}

.articles__title {
  margin-bottom: 10px;
}

.articles__item {
  display: block;
  padding-top: 30px;
  position: relative;
}

.articles__item:not(:last-child) {
  padding-bottom: 30px;
}

.articles__item:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e0e0e0;
  bottom: 0;
  left: 0;
}

.articles__item-body {
  border: 6px;
}

.articles__image {
  position: relative;
  padding-bottom: 16.5%;
  border-radius: 6px;
  overflow: hidden;
}

.articles__image img {
  position: absolute;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles__title-article {
  font-weight: 600;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #404040;
  margin-bottom: 7px;
}

.articles__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles__label-year {
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 900;
  padding: 0 8px;
  background: #068fde;
  border-radius: 16px;
  font-size: 18px;
}

.articles__label-year_green {
  background: #6feb44;
}

.articles__label-year_red {
  background: #f84f4f;
}

.articles__label-year_blue {
  background: #068fde;
}

.articles__label:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 7px;
}

.articles__label_catygory {
  font-weight: 400;
  font-size: 14px;
  color: #8695a4;
}

.articles__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 185.7142857143%;
  color: #21243d;
}

.articles__text span {
  font-weight: 700;
}

/*==================================*/

.gallery {
  display: grid;
  grid-template: 1fr/1fr minmax(320px, 1170px) 1fr;
  padding: 0 10px;
  margin-bottom: 40px;
}

.gallery__wrapper {
  grid-column: 2/3;
}

.gallery__title {
  margin-bottom: 30px;
}

.gallery__body {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 280px);
}

.gallery__item {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  padding-bottom: 70%;
}

.gallery__item img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.gallery__item_row {
  grid-row: span 2;
}

.gallery__item_col {
  grid-column: span 2;
}

/*==================================*/

.main__article {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bred-crumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bred-crumbs__list li {
  line-height: 180.4%;
  color: #797979;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.bred-crumbs__list li:not(:last-child) {
  padding: 0px 8px 0px 0px;
}

.bred-crumbs__list li::before {
  margin-left: 8px;
}

.bred-crumbs__link {
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.article {
  font-weight: 400;
  font-size: 14px;
  line-height: 180.4%;
}

.article__chapter {
  margin-bottom: 46px;
}

.article p {
  margin-bottom: 6px;
}

.article span {
  color: #d98200;
}

.article__title {
  margin-bottom: 12px;
}

.article__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 7px;
  position: relative;
  margin-bottom: 20px;
}

.article__labels::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #eeeeee;
}

.article__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 180.4%;
  color: #797979;
}

.article__label:not(:last-child) {
  margin-right: 20px;
}

.article__label svg {
  margin-right: 3px;
}

.article__sub-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 103.5714285714%;
  margin-bottom: 22px;
}

.article__image {
  margin-bottom: 25px;
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 15px;
}

.article__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__title-list {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

.article__list li {
  padding-left: 17px;
  position: relative;
}

.article__list li::before {
  content: "";
  width: 8px;
  position: absolute;
  top: 8px;
  left: 0;
  background: #275c79;
  height: 8px;
  border-radius: 50%;
}

.spoller-article {
  background: #c9eafd;
  border-radius: 5px;
}

.spoller-article__item {
  line-height: 130%;
  margin-bottom: 15px;
}

.spoller-article__title {
  background: none;
  padding: 9px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 18px;
  line-height: 180.4%;
  font-weight: 500;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 5px;
}

.spoller-article__title::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin-left: 5px;
}

.spoller-article__title.active::before {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.spoller-article__content {
  padding: 9px 16px;
}

.spoller-article__llist {
  padding-left: 20px;
}

.spoller-article a {
  color: inherit;
}

.spoller-article__sub-list {
  margin-top: 15px;
  padding-left: 18px;
}

.spoller-article__sub-item {
  margin-bottom: 15px;
}

.sidebar__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #303030;
  padding-bottom: 4px;
  display: block;
  position: relative;
  margin-bottom: 14px;
}

.sidebar__title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #175C85;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}

.articles-sidebar {
  margin-bottom: 30px;
}

.articles-sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}

.articles-sidebar__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding-bottom: 28%;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

.articles-sidebar__image img {
  position: absolute;
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  -o-transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-sidebar__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 9px;
}

.articles-sidebar__title {
  margin-bottom: 7px;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
  color: #000;
}

.articles-sidebar__text {
  color: rgb(59, 59, 59);
  font-size: 12px;
}

.authors-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px -20px;
}

.authors-sidebar__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 10px 20px;
  display: block;
}

.authors-sidebar__image {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 7px;
}

.authors-sidebar__image img {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.authors-sidebar__name {
  text-align: center;
  color: #000;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/*==================================*/

.footer {
  color: #e3e3e3;
}

.footer__main {
  background: #142d3b;
  padding: 46px 0;
  padding-top: 46px;
  padding-bottom: 46px;
}

.footer__main_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-bottom: 35px;
}

.footer__title {
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 28px;
}

.footer__title.active {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.footer__title::after {
  content: "";
  height: 1px;
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #326c38;
}

.footer__text {
  font-size: 16px;
  line-height: 166.6666666667%;
}

.social-footer {
  background: #175c85;
}

.social-footer__body {
  min-height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer__text {
  padding-right: 15px;
}

.social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-footer__list li {
  margin-right: 54px;
  font-size: 23px;
}

.social-footer__link {
  color: #fff;
}

.social-footer__link::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 -10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-footer .footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.menu-footer .footer__title.active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-footer .footer__title::before {
  font-size: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 0 10px;
}

.menu-footer__list li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.menu-footer__link {
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.bottom-footer {
  background: #102430;
}

.bottom-footer__body {
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__text {
  color: #818181;
}

.bottom-footer__text a {
  color: #fff;
}

@media (min-width: 767.98px) {
  .menu__icon {
    display: none;
  }

  .menu__item {
    height: 70px;
  }

  .menu__sub-list {
    left: 0;
    top: 100%;
    min-width: 150px;
    opacity: 0;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    visibility: hidden;
    position: absolute;
    pointer-events: none;
  }

  .slide-project__labels {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .articles__item-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .articles__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28.6324786325%;
            flex: 0 0 28.6324786325%;
  }

  .articles__content {
    padding-left: 25px;
    padding: 10px 0;
  }

  .article-main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .article-main__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-right: 45px;
  }

  .article-main__sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23.0769230769%;
            flex: 0 0 23.0769230769%;
  }

  .bottom-footer__text a:hover {
    text-decoration: underline;
  }
}

@media (any-hover: hover) and (min-width: 767.98px) {
  .menu__item:hover .menu__arrow::before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media (min-width: 992.98px) {
  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -55px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__col {
    padding: 0 55px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .slide-project__labels {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .footer__about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    padding-right: 65px;
  }
}

@media (min-width: 1182px) {
  .about__col:last-child::after {
    content: "?";
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 250px;
    font-weight: 600;
    position: absolute;
    color: #ffffff;
    text-shadow: 0px 4px 30px rgba(93, 142, 98, 0.15);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .about__col_two {
    max-width: 381px;
  }
}

@media (min-width: 1182px) and (any-hover: hover) {
  .about__col:last-child:hover::after {
    content: "?";
    -webkit-transform: translateY(-50%) scale(1.03);
        -ms-transform: translateY(-50%) scale(1.03);
            transform: translateY(-50%) scale(1.03);
    color: #d7e8ff;
  }
}

@media (max-width: 1600px) {
  .title {
    font-size: calc(22px + 10 * ((100vw - 320px) / 1280));
  }

  .logo {
    font-size: calc(20px + 8 * ((100vw - 320px) / 1280));
  }

  .popup-phone__body {
    padding: calc(10px + 30 * ((100vw - 320px) / 1280));
  }

  .popup-phone__title {
    font-size: calc(24px + 16 * ((100vw - 320px) / 1280));
  }

  .popup-phone__title {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1280));
  }

  .popup-phone__text {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1280));
  }

  .about {
    padding-top: calc(20px + 22 * ((100vw - 320px) / 1280));
  }

  .about {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1280));
  }

  .about__title {
    margin-bottom: calc(15px + 6 * ((100vw - 320px) / 1280));
  }

  .about__title svg {
    height: calc(28px + 6 * ((100vw - 320px) / 1280));
  }

  .about__text p {
    margin-bottom: calc(10px + 7 * ((100vw - 320px) / 1280));
  }

  .about__title-list {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1280));
  }

  .project-slider {
    margin-bottom: calc(25px + 19 * ((100vw - 320px) / 1280));
  }

  .project-slider__title {
    margin-bottom: calc(18px + 11 * ((100vw - 320px) / 1280));
  }

  .project-slider__body {
    margin-right: calc(25px + 47 * ((100vw - 320px) / 1280));
  }

  .project-slider__body {
    margin-left: calc(25px + 47 * ((100vw - 320px) / 1280));
  }

  .project-slider__wrapper {
    margin-bottom: calc(10px + 12 * ((100vw - 320px) / 1280));
  }

  .slide-project {
    padding: calc(15px + 25 * ((100vw - 320px) / 1280));
  }

  .slide-project {
    padding-bottom: calc(40px + 90 * ((100vw - 320px) / 1280));
  }

  .slide-project__top {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1280));
  }

  .slide-project__title {
    font-size: calc(22px + 2 * ((100vw - 320px) / 1280));
  }

  .slide-project__label {
    height: calc(25px + 5 * ((100vw - 320px) / 1280));
  }

  .slide-project__label {
    font-size: calc(10px + 4 * ((100vw - 320px) / 1280));
  }

  .slide-project__label {
    border-width: calc(1px + 2 * ((100vw - 320px) / 1280));
  }

  .slide-project__label {
    margin-bottom: calc(8px + 7 * ((100vw - 320px) / 1280));
  }

  .slide-project__label {
    margin-right: calc(10px + 9 * ((100vw - 320px) / 1280));
  }

  .slide-project__text {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1280));
  }

  .slide-project__button {
    height: calc(33px + 7 * ((100vw - 320px) / 1280));
  }

  .slide-project__button {
    padding-left: calc(30px + 25 * ((100vw - 320px) / 1280));
  }

  .slide-project__button {
    padding-right: calc(30px + 25 * ((100vw - 320px) / 1280));
  }

  .dotts-slider span {
    width: calc(15px + 10 * ((100vw - 320px) / 1280));
  }

  .dotts-slider span {
    height: calc(15px + 10 * ((100vw - 320px) / 1280));
  }

  .dotts-slider span:not(:last-child) {
    margin-right: calc(10px + 10 * ((100vw - 320px) / 1280));
  }

  .slider-arrow {
    height: calc(30px + 20 * ((100vw - 320px) / 1280));
  }

  .slider-arrow {
    width: calc(30px + 20 * ((100vw - 320px) / 1280));
  }

  .slider-arrow::before {
    font-size: calc(12px + 8 * ((100vw - 320px) / 1280));
  }

  .articles {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1280));
  }

  .articles__item:not(:last-child) {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1280));
  }

  .articles__item {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 1280));
  }

  .articles__title-article {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1280));
  }

  .articles__title-article {
    margin-bottom: calc(5px + 2 * ((100vw - 320px) / 1280));
  }

  .articles__label-year {
    height: calc(20px + 5 * ((100vw - 320px) / 1280));
  }

  .articles__label-year {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1280));
  }

  .gallery {
    margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1280));
  }

  .gallery__title {
    margin-bottom: calc(25px + 5 * ((100vw - 320px) / 1280));
  }

  .main__article {
    padding-top: calc(25px + 5 * ((100vw - 320px) / 1280));
  }

  .main__article {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1280));
  }

  .article__chapter {
    margin-bottom: calc(30px + 16 * ((100vw - 320px) / 1280));
  }

  .article__title {
    margin-bottom: calc(6px + 6 * ((100vw - 320px) / 1280));
  }

  .article__labels {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1280));
  }

  .article__label:not(:last-child) {
    margin-right: calc(5px + 15 * ((100vw - 320px) / 1280));
  }

  .article__sub-title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1280));
  }

  .article__sub-title {
    margin-bottom: calc(15px + 7 * ((100vw - 320px) / 1280));
  }

  .article__image {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1280));
  }

  .spoller-article__item {
    margin-bottom: calc(8px + 7 * ((100vw - 320px) / 1280));
  }

  .spoller-article__sub-list {
    margin-top: calc(8px + 7 * ((100vw - 320px) / 1280));
  }

  .spoller-article__sub-list {
    padding-left: calc(8px + 10 * ((100vw - 320px) / 1280));
  }

  .spoller-article__sub-item {
    margin-bottom: calc(8px + 7 * ((100vw - 320px) / 1280));
  }

  .sidebar__title {
    margin-bottom: calc(10px + 4 * ((100vw - 320px) / 1280));
  }

  .articles-sidebar {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1280));
  }

  .articles-sidebar__item {
    margin-bottom: calc(15px + 6 * ((100vw - 320px) / 1280));
  }

  .footer__main {
    padding-top: calc(15px + 31 * ((100vw - 320px) / 1280));
  }

  .footer__main {
    padding-bottom: calc(15px + 31 * ((100vw - 320px) / 1280));
  }

  .footer__about {
    margin-bottom: calc(20px + 15 * ((100vw - 320px) / 1280));
  }

  .footer__title {
    padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1280));
  }

  .footer__title {
    margin-bottom: calc(5px + 23 * ((100vw - 320px) / 1280));
  }

  .social-footer__body {
    min-height: calc(50px + 27 * ((100vw - 320px) / 1280));
  }

  .social-footer__list li {
    margin-right: calc(30px + 24 * ((100vw - 320px) / 1280));
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }

  .gallery {
    grid-template: 1fr/1fr minmax(320px, 970.98px) 1fr;
  }

  .gallery__body {
    grid-template-columns: repeat(auto-fill, 230px);
  }

  .authors-sidebar {
    margin: -5px -5px;
  }

  .authors-sidebar__item {
    padding: 5px 5px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .menu__link {
    font-size: 14px;
  }

  .phone__link {
    font-size: 14px;
  }

  .phone__link::before {
    font-size: 12px;
  }

  .about__col:last-child {
    padding-top: 15px;
  }

  .about__col:first-child {
    padding-bottom: 15px;
  }

  .about__col:first-child::after {
    width: 100%;
    height: 1px;
  }

  .gallery {
    grid-template: 1fr/1fr minmax(320px, 767.98px) 1fr;
  }

  .gallery__body {
    grid-template-columns: repeat(auto-fill, 240px);
  }

  .gallery__item_row {
    grid-row: 1;
  }

  .gallery__item_col {
    grid-column: 1;
  }

  .articles-sidebar__content {
    padding-left: 5px;
  }

  .footer__main_body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 470px;
    padding: 0 10px;
  }

  .logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu__body {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(45, 84, 107, 0.7882352941);
    padding: 40px;
    padding-top: 100px;
    overflow: auto;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__body.active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }

  .menu__body.active::after {
    left: 0;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    height: 70px;
    background: #102430;
    width: 100%;
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__item.active::after {
    height: 0;
  }

  .menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }

  .menu__link {
    font-size: 35px;
  }

  .menu__arrow::before {
    font-size: 20px;
    margin-left: 15px;
  }

  .menu__sub-list {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-top: 10px;
  }

  .menu__sub-link {
    font-size: 25px;
  }

  .phone {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .project-slider__body {
    margin: 0;
  }

  .slide-project__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .slide-project__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 10px;
  }

  .slide-project__labels {
    margin-bottom: 20px;
  }

  .slider-arrow_prev {
    display: none;
  }

  .slider-arrow_next {
    display: none;
  }

  .articles__image {
    margin-bottom: 10px;
  }

  .articles__image {
    padding-bottom: 50%;
  }

  .gallery {
    grid-template: 1fr/1fr minmax(0px, 479.98px) 1fr;
  }

  .gallery__body {
    grid-template-columns: repeat(2, 49%);
  }

  .articles-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px -10px;
  }

  .articles-sidebar__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0px 10px;
  }

  .authors-sidebar__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
  }

  .menu-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu-footer .footer__title::after {
    height: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
  }

  .menu-footer .footer__title::before {
    font-size: 12px;
    margin-left: 5px;
  }

  .menu-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .menu-footer__column:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .phone__link {
    font-size: 0;
  }

  .phone__link::before {
    font-size: 16px;
  }

  .articles-sidebar__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .social-footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .social-footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 15px;
    text-align: center;
  }
}

@media (max-width: 380px) {
  .authors-sidebar__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (min-width: 1182px) and (max-width: 1600px) {
  .about__col:last-child::after {
    font-size: calc(150px + 100 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 767.98px) and (max-width: 1600px) {
  .articles__content {
    padding-left: calc(5px + 20 * ((100vw - 320px) / 1280));
  }

  .article-main__body {
    padding-right: calc(15px + 30 * ((100vw - 320px) / 1280));
  }
}

@media (min-width: 992.98px) and (max-width: 1600px) {
  .footer__about {
    padding-right: calc(10px + 55 * ((100vw - 320px) / 1280));
  }
}

@media (any-hover: hover) {
  .logo:hover {
    color: #47a453;
  }

  .logo:hover span {
    color: #fff;
  }

  .menu__item:hover {
    color: #e69721;
  }

  .menu__item:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    pointer-events: auto;
  }

  .menu__sub-link:hover {
    background: rgba(217, 217, 217, 0.13);
  }

  .phone__link:hover {
    color: #e69721;
  }

  .popup-phone__btn:hover {
    background: #306e38;
  }

  .slide-project__button:hover {
    background: #416e88;
  }

  .dotts-slider span:hover {
    background: #cbe2ee;
  }

  .dotts-slider .swiper-pagination-bullet-active:hover {
    background: #275c79;
  }

  .slider-arrow:hover {
    background: #416e88;
  }

  .articles__item:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .articles__item:hover .articles__item-body {
    background: rgb(248, 248, 248);
    border: 1px solid rgba(235, 235, 235, 0.596);
  }

  .gallery__item:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .bred-crumbs__link:hover {
    color: #d98200;
  }

  .spoller-article__title:hover {
    background: #b9e5ff;
  }

  .spoller-article a:hover {
    text-decoration: underline;
  }

  .articles-sidebar__item:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .articles-sidebar__item:hover .articles-sidebar__title {
    color: #D98200;
  }

  .authors-sidebar__item:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .authors-sidebar__item:hover .authors-sidebar__name {
    color: #D98200;
  }

  .social-footer__list li:hover .social-footer__link::before {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .menu-footer__link:hover {
    color: #e69721;
  }
}